.membertable {
	display: none;
}

.loading {
	width: 100px;
	height: 100px;
	margin-left: 200px;
}

tbody td {
	padding:20px 20px 20px 20px;
	border-bottom:1px solid #e0e0e0;
  
}

.row_template {
	display: none;
}

.row > * {
	margin: 20px;
}

.row {
	padding: 20px;
	display:flex;
	align-items:center;
}

.name {
	font-weight: bold;
}

tr.stemma0 .name {
	color: hsl(0, 0%, 50%);
}

tr.stemma1 .name {
	color: hsl(260, 25%, 50%);
}

tr.stemma2 .name {
	color: hsl(120, 25%, 50%);
}

tr.stemma3 .name {
	color: hsl(60, 25%, 50%);
}

tr.stemma4 .name {
	color: hsl(0, 25%, 50%);
}