.admin {
	display: none;
}

.edit {
	display: none;
}

[data-action="edit_section"] {
	visibility: hidden;
}

.row:hover > [data-action="edit_section"] {
	visibility: visible;
}

.label {
    width:120px;
    color: #666666;
    font-weight: bold;
}

.edit .label {
	display: flex;
    justify-content: flex-end;
}

.value.value {
	width:250px;
}

.tableheader {
    color: #666666;
    font-weight: bold;
}

section {
    margin: 6px;
}

.row > * {
    margin: 6px;
}

.row {
    display:flex;
    align-items:center;
}

#cntrls .row {
	padding-top: 50px;
    width: 400px;
    justify-content: space-between;
	
}

#responsibilities .col1 {
    width: 100px;
}


#responsibilities .col2 {
    width: 200px;
}

#presence .col1 {
    width: 80px;
}

#presence .col2 {
    width: 80px;
}

#presence .col3 {
    width: 200px;
}

#app-content-wrapper {
    padding: 20px;
}

button div {
	margin-right: 8px;
	float: left;
}

.row div input[type='text'] {
	width: 100%;
}

.row div select {
	width: 100%;
}